<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="header">
       <header style="background: #e0e0e0; padding: 20px; position: relative; text-align: center;">

            <!-- Tiêu đề căn giữa -->
            <h1 style="margin: 0;">Website Quản lý Categories</h1>

            <!-- Hình nằm góc phải -->
            <img th:src="@{/images/LamVanDi.jpg}" alt="Hình của mình"
                 style="position: absolute; top: 10px; right: 20px; height: 60px;">
        </header>
    </div>
</body>
</html>
